#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_ILI_V3
    bool "ili_v3 Touchscreen"
    default n
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
      
